.titulo001{
    background-color: darkred;
    color: black;
    padding: 10px;

}
.bloco02{
    font-family: 'Kdam Thmor Pro', sans-serif;
}
    .bloco03{
        height: 600px;
        border: 1.5px solid black;
    }